encode=json;
context=
{
  uniqueID:"272",
  name:"ContactPlugin",
  targetPackage:["com.customize.contacts"],
  version:1,
  pluginClass:["com.customize.contacts.backupandrestore.plugin.CallLogBackPlugin", "com.customize.contacts.backupandrestore.plugin.CallLogRestorePlugin"],
  soPaths:[],
  useParentClass:true,
  backupFolder:"CallRecord",
  dataPattern:0
};