encode=json;
context=
{
  uniqueID:"592",
  name:"BlacklistPlugin",
  targetPackage:["com.oplus.blacklistapp"],
  version:1,
  pluginClass:["com.oplus.blacklistapp.backupandrestore.plugin.BlacklistBackupPlugin", "com.oplus.blacklistapp.backupandrestore.plugin.BlacklistRestorePlugin"],
  soPaths:[],
  useParentClass:true,
  backupFolder:"ContactBlacklist",
  dataPattern:0
};