encode=json;
context=
{
  uniqueID:"1",
  name:"ContactPlugin",
  targetPackage:["com.customize.contacts"],
  version:1,
  pluginClass:["com.customize.contacts.backupandrestore.plugin.ContactBackupPlugin", "com.customize.contacts.backupandrestore.plugin.ContactRestorePlugin"],
  soPaths:[],
  useParentClass:true,
  backupFolder:"Contact",
  dataPattern:0
};